@using Models
@model ViewModels.Armss
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Armsid</title>
</head>
<body>
    <div class="flat-row flat-general sidebar-right " id="gengduo5">
        <div class="container">
            <div class="row">
                <div class="general">
                    <div class="general-slider about-slider">
                        <div class="conMain">
                            <div class="module">
                                <h3 class="title"><span><i>@Model.armsectionid.ArmsSectionName</i> - 筛选</span><a href="@Url.Action("Index","AllArms")" class="resetSelect">重置筛选条件</a></h3>
                                @*@{Html.RenderAction("Armsid", "AllArms");}*@
                                <div class="select" id="gengduo1">
                                    <!-- 大分类 -->
                                    <ul class="ul1">
                                        <li>大分类：</li>
                                       
                                            @foreach (var b in Model.aFilterSection)
                                            {

<li>
                                                @Ajax.ActionLink(b.AFilterSectionName, "select", "AllArms", new { id = b.AFilterSection_id }, new AjaxOptions()
                 {

                     HttpMethod = "Get",
                     UpdateTargetId = "gengduo4"

                 })

                                            </li>
                                        }

                                        <span class="more" style="display: block;">
                                            <a href="javascript:;" class="down">更多</a>
                                        </span>
                                    </ul>
                                    <!-- 原产国 -->
                                    <ul class="ul2">
                                        <li>原产国：</li>
                                        @foreach (var c in Model.aFilterSection2)

                                        {
                                            <li>
                                                @Ajax.ActionLink(c.AFilterSectionName, "select", "AllArms", new { id2 = c.AFilterSection_id }, new AjaxOptions()
                 {

                     HttpMethod = "Get",
                     UpdateTargetId = "gengduo4"

                 })
                                            </li>
                                        }

                                        <span class="more" style="display: block;"><a href="javascript:;" class="down">更多</a></span>
                                    </ul>
                                    <!-- 诞生期 -->
                                    <ul class="ul3">
                                        <li>诞生期：</li>
                                        @foreach (var d in Model.aFilterSection3)

                                        {
                                            <li>
                                                @Ajax.ActionLink(d.AFilterSectionName, "select", "AllArms", new { id3 = d.AFilterSection_id }, new AjaxOptions()
                 {

                     HttpMethod = "Get",
                     UpdateTargetId = "gengduo4"

                 })
                                            </li>
                                        }


                                        <span class="more" style="display: block;"><a href="javascript:;" class="down">更多</a></span>
                                    </ul>

                                    <div class="picList" id="gengduo4">
                                        <div class="row">

                                            @foreach (var f in Model.arms)
                                            {
                                                <div class="col-sm-4">
                                                    <div class="imagebox wuqiqq">
                                                        <div class="box-wrapper">
                                                            <div class="box-image">
                                                                <img src="@f.ArmsPicture" alt="images" style="height:200px">
                                                            </div>
                                                            <div class="box-header">
                                                                <h5 class="box-title">
                                                                    <a href="ArmsDetails.html">@f.ArmsName）</a>
                                                                </h5>
                                                            </div>
                                                            <div class="box-content">
                                                                <div class="box-desc">
                                                                    <p>产地：@f.Manu</p>
                                                                    <p>所属：@f.ArmsSection.ArmsSectionName</p>
                                                                    <p>诞生期：@f.Stime</p>

                                                                </div>
                                                                <div class="box-button">
                                                                    <a class="button bg-scheme3" href="@Url.Action("Details","AllArms", new { id = f.Arms_id})">查看详情 <i class="fa fa-chevron-right"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.imagebox -->
                                                </div>

                                            }


                                        </div>
                                    </div>
                                    <div class="pages">

                                    </div>
                                </div>






                            </div>
                        </div><!-- /.about-slider -->




                    </div><!-- /.general -->
                </div><!-- /.general -->


                <div class="general-sidebars bianbian">
                    <div class="sidebar-wrap">

                        <div class="block-title">
                            <h2 class="block-title__h2"><i class="fa fa-file"></i> @Model.armsectionid.ArmsSectionName  排行<a class="block-title__view-all" href=#>获取更多</a></h2>
                        </div>
                        <div class="wrap-redaction  wrap-redaction_white">
                            <div class="content" id="newscontent">

                                <div class="ranks-tab" id="ranks-tab">
                                    <ul>
                                        @foreach (var h in Model.arms1)
                                        {
                                            <li>
                                                <a href="@Url.Action("Details","AllArms", new { id = h.Arms_id})">
                                                    <div class="imghidden">
                                                        <img src="@h.ArmsPicture">
                                                    </div>
                                                    <b></b>
                                                    <i>@h.Arms_id</i>
                                                    <span>@h.ArmsName</span>
                                                    <p>@h.Stime</p>
                                                </a>
                                            </li>
                                        }

                                    </ul>

                                </div>
                            </div>

                        </div>



                    </div><!-- /.sidebar-wrap -->
                </div><!-- /.general-sidebars -->
            </div><!-- /.row -->



        </div><!-- /.container -->
    </div><!-- /.blog -->

    @*<div class="select">
        <!-- 大分类 -->
        <ul class="ul1" >
            <li>大分类：</li>
            @foreach (var b in Model.aFilterSection)
            {
               

                <li>
                    @Ajax.ActionLink(b.AFilterSectionName, "select", "AllArms", new { id = b.AFilterSection_id }, new AjaxOptions()
        {

            HttpMethod = "Get",UpdateTargetId="gengduo4"
            
        })
             <a class="" href="#">@b.AFilterSectionName</a>
                </li>
            }
           
            <span class="more" style="display: block;">
                <a href="javascript:;" class="down">更多</a>
            </span>
        </ul>
        <!-- 原产国 -->
        <ul class="ul2">
            <li>原产国：</li>
            @foreach (var c in Model.aFilterSection2)

            {
                <li>
                    @Ajax.ActionLink(c.AFilterSectionName, "select", "AllArms", new { id2 = c.AFilterSection_id }, new AjaxOptions()
         {

             HttpMethod = "Get",
             UpdateTargetId = "gengduo4"

         })</li>
            }
           
            <span class="more" style="display: block;"><a href="javascript:;" class="down">更多</a></span>
        </ul>
        <!-- 诞生期 -->
        <ul class="ul3">
            <li>诞生期：</li>
            @foreach (var d in Model.aFilterSection3)

            {
                <li>@Ajax.ActionLink(d.AFilterSectionName, "select", "AllArms", new { id3 = d.AFilterSection_id }, new AjaxOptions()
                 {

                     HttpMethod = "Get",
                     UpdateTargetId = "gengduo4"

                 })</li>
            }

            <span class="more" style="display: block;"><a href="javascript:;" class="down">更多</a></span>
        </ul>

        <div class="picList" id="gengduo4">
        
            <div class="row">

                @foreach (var f in Model.arms)
                {
                    <div class="col-sm-4">
                        <div class="imagebox wuqiqq">
                            <div class="box-wrapper">
                                <div class="box-image">
                                    <img src="@f.ArmsPicture" alt="images" style="height:200px">
                                </div>
                                <div class="box-header">
                                    <h5 class="box-title">
                                        <a href="ArmsDetails.html">@f.ArmsName）</a>
                                    </h5>
                                </div>
                                <div class="box-content">
                                    <div class="box-desc">
                                        <p>产地：@f.Manu</p>
                                        <p>所属：@f.ArmsSection.ArmsSectionName</p>
                                        <p>诞生期：@f.Stime</p>

                                    </div>
                                    <div class="box-button">
                                        <a class="button bg-scheme3" href="ArmsDetails.html">查看详情 <i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.imagebox -->
                    </div>

                }
                
           
            </div>
        </div>
        <div class="pages">
            
        </div>
    </div>*@
    <script type="text/javascript">
    $("#gengduo1 .ul1 li ").click(function () {
        $(this).addClass("current ");
        $(this).siblings().removeClass("current");



    });
    $("#gengduo1 .ul2 li").click(function () {
        $(this).addClass("current ");
        $(this).siblings().removeClass("current");



    });
    $("#gengduo1 .ul3 li ").click(function () {
        $(this).addClass("current ");
        $(this).siblings().removeClass("current");



    });
    </script>
    <script type="text/javascript">
        var _recommend=$('.select .more a');//获取span a
        _recommend.click(function (e) {

var _r=$(this).parent().parent('ul');//获取该span父类ul
            if($(this).hasClass("down")){//判断是否含有DOwn
              $(this).removeClass('down');
               _r.stop(true,false).animate({height:"100px"},"slow");
             $(this).addClass('up');
               $(this).text("收起");//值变为收起

            }else{
                $(this).addClass('down');
                 $(this).removeClass('up')
                $(this).text("更多");
                  _r.stop(true,false).animate({height:"60px"},"slow");

            }
        });
    </script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
</body>

</html>
